*{margin: 0;padding: 0;box-sizing: border-box;}
body{background-color: #000000;}

div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid red;
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
    padding: 30px 60px 80px 60px;
}
img{
    width: 350px;
}
h1{
    color: red;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;

}

p{  
    font-size: 18px;
    color: red;
    margin: 10px;
    margin-bottom: 80px;
}
a{

    color: white;
    background-color: red;
    text-decoration: none;
    padding: 10px 40px; 
}