*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header,footer{
    width: 100%;
    background:#ed5a0e ;
    color: white;
    text-align: center;
    padding: 10px;
}
main{
    width: 100%;
}
.titulo-forte{
    font-weight: bold;
}
.banner{
    width: 100%;
}
.limite-area{
    max-width: 1024px;
    margin: 0 auto;
}
h2{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-size: 25px;
}
p{
    line-height: 32px;
}
.mais-info{
    display: block;
    margin: 25px 0;
    font-weight: bold;
    padding-left: 10px;
    border-left: 2px solid #ed5a0e ;
}
.quem-somos p:last-child{
    background:#f88143;
    display: inline;
    padding: 10px 5px;
}
img{
    width: 350px;
}
.jogos-avaliados{
    display: flex;
    overflow-x: scroll;
}
figure{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}
figcaption ,figure span{
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 5px;
    background: #ed5a0e;
}