*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Source Sans Pro',sans-serif;
}

/*HEADER*/
header{
    width: 100%;
    background-color: #00cad1;
}
header a img{
    width: 100px;
}

/*MENU*/
.menu{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.limite-area{
    max-width: 1024px;
    margin: 0 auto;
}
.menu nav{
    margin-left: 15px;
    padding: 10px;
}
.menu nav a{
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}
.menu nav a:hover{
    color: grey;
}
/*BANNER*/
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-image: url("/clinica/assets/recepcao.png");
    background-size: cover;

}
.banner div h2{
    color: #FFF;
    font-size: 50px;
}



/*INFO*/
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0000008c;

}
.info h3{
    margin-bottom: 20px;
    font-size: 28px;
}
.info p{
    width: 55%;
    text-align: center;
}
/*AREA LISTA*/
.area-lista{
    width:100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-lista .area-container1 {
    
    align-items: center;
    display: flex;
}
.area-lista .area-container2 {
    color: #0000008c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.area-lista .area-container2 h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}
/*CONTAINER IMG*/
.container-img{
    display: flex;
    flex-wrap: wrap;
}
.figure-cont{
    text-transform: uppercase;
    margin: 20px;
    border-radius: 3px;
    width: calc(100%/ 3 - 40px);
    box-shadow: 0px 1px 10px rgb(0 0 0 / 50%);
    margin-bottom: 50px;
}
figure img{
    width: 100%;
}
figure figcaption{
    height: 25px;
    text-align: center;
}
.container-bt{
    text-align: center;
    margin-bottom: 20px;
    
}
.container-bt a{
    text-decoration: none;
    padding: 10px;
    background-color: #00cad1;
    border-radius: 10px;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color :#0d6e71;
    padding: 10px;
}
footer img {
    width: 100px;
}
footer .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}
/*MOBILE*/
@media (max-width:425px){
    .menu{
        
        display: flex;
        flex-direction: column;
    }
    .menu-links{
        display: flex;
        justify-content: center;
        text-align: center;
        
        width: calc(100% - 40px);
        border-top: 1px solid rgba(0, 0, 0, 0.226);
    }
    .banner{
        height: 200px;

    }
    .banner div {
        text-align: left;
        width: 95%;
    }
    .banner div h2{
        font-size: 22px;
    }
    #sobre .area-container1{
        display: none;
    }
    #sobre .area-container2 h3{
        font-size: 12px;
    }
    .limite-area{
        font-size: 12px;
    }
    .container-bt{
    }
    .figure-cont{
        width: 80%;
        margin: 10px auto;
    }
}

/*TABLET*/
@media only screen and (min-width:426px) and (max-width:768px) {
    
}

/*DESKTOP*/
@media only screen and (min-width:769px) {
    
}